@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    appearance: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
} */

.preview-container:hover .local-edit {
  display: inline-flex!important;
}